body{
    display: flex;
    font-family: 'Glegoo', serif;
    margin: 0 0;
    background-image: url("Assets/img/20230210_Cover.jpg");
    background-size: cover; 
    height: 1654.67px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
    }

*{
    box-sizing: border-box;
}

.container0{
    /* margin: 0px; */
    display: flex;
    /* background-repeat: no-repeat; */
    width: 65%;
    flex-direction: row;
    background-color:transparent;
    position: relative;
    justify-content:space-between;
    align-items:center;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2934A0;
    opacity: 100%;
    height:200px;
    /* position: relative; */
    width: 200px;
    /* left:100px; */
    /* right:10px; */
}

h2{
    font-size: 20px;
    color:white;
    text-align:center;
    position: relative;
    justify-content: center;
}
