body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  margin-top: 20px;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.option {
  border: 2px solid black;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.option.selected {
  background-color: yellow;
}

button {
  margin-top: 20px;
  cursor: pointer;
}

#choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#choices img {
  margin: 20px;
  max-width: 300px;
  max-height: 300px;
}


/* Define the CSS style for the rectangles */
.rectangle {
  position: absolute;
  /* width: 500px;
  height: 500px; */
  /* right:200px;
  bottom:500px; */
  border: 9px solid yellow;

  z-index:9999;
}

canvas {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 500px;
  height: 300px;
  border: 1px solid black;

  cursor: pointer;

}
