@media (max-width: 10000px) {

*{
    box-sizing: border-box;
}
    
body{
    font-family: 'Glegoo', serif;
    font-size: 200;
    margin: 0px 0px;
}

.uppercase {
    text-transform: uppercase;
    }

header{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    height: 240px;
    background-color:#ffffff;
    position: relative;
    margin: 0px 10px;
    align-items: center;
}

.mooncontainer{
    position:fixed;

}
round1{
    z-index: 3;
    background-image: url("assets/img/round.png");
    background-size: contain;
    height:10vh;
    width: 10vh;
    position:fixed;
    left: 3vw;
    top:2vh;
}

moon2{
    background-image: url("assets/img/moon-near-side.png");
    background-size: contain;
    position:fixed;
    height:10vh;
    width: 10vh;
    position:fixed;
    left: 3vw;
    top:2vh;

}

.changetomoon:hover{
    opacity: 1;
	animation-name: changetomoon;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;
}

@keyframes changetomoon{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.introduce{
    display: flex;
    background-color: white;
    position:fixed;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
    margin:0;
    margin-left: 10px;
    right: 3vw;
    top:2vh;
    height: 10vh;
}

nametag{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:white;
    opacity: 100%;
    position: relative;
    height:150px;
    width: 400px;
    border-bottom-style: solid;
    border-bottom-color: #2934A0;
    border-bottom-width: 10px;
}

.movetoright:hover{
    opacity: 1;
	animation-name: movetoright;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 6s;
}

@keyframes movetoright{
    0%{transform: translateX(0px);}
    50% {transform: translateX(100%);}
    100% {transform: translateX(0px);}
}

photo{
    /* display: flex; */
    /* flex-direction: row; */
    background-image: url("assets/img/ProfilePhoto.jpg");
    background-size: contain;
    opacity: 100%;
    height:10vh;
    width: 10vh;
}

/* 
.blank{
    height:300px;
    width:100%;
    background-color: white;
} */

.maincontent{
    position:fixed;
    bottom: 0;
    margin:0;
    padding-left: 3vw;
    padding-top: 10vh;
    display: flex;
    width : 100vw;
    height:85vh;
    z-index: 99;
    background-color: #2934A0;
    flex-direction: row;
    gap:10vw;
    justify-content:flex-start;

}

.exercisbox{
    display: flex;
    background-color: #2934A0;
    height:400px;
    width: 30vw;
    flex-direction: column;
}

.projectbox{
    background-color: #2934A0;
    height:400px;
    width: 30vw;
}

.link{
    color:white;
    text-decoration: none;

}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color:#2934A0;
    position: relative;
    text-align: left;
    line-height: 25px;
}

h2{
    font-size: 30px;
    color:white;
    text-align:left;
    position: relative;
    margin-left: 30px;
}

h3{
    font-size: 30px;
    color:white;
    text-align:left;
    position: relative;
    margin-left: 30px;
    text-decoration: none;
}

p{
    line-height: 25px;
    margin: 5px 0px;
}
}

@media (max-width: 720px) {

    *{
        box-sizing: border-box;
    }
        
    body{
        font-family: 'Glegoo', serif;
        font-size: 200;
        margin: 0px 0px;
    }
    
    .uppercase {
        text-transform: uppercase;
        }
    
    header{
        position:fixed;
        z-index: 1;
        display: flex;
        flex-direction: row;
        top: 0px;
        height: 15vh;
        background-color:#ffffff;
        /* position: relative; */
        margin: 0;
        align-items: center;
        left: 5vw;
        display:flex;
        justify-content: space-between;

    }
    
    round{
        background-image: url("assets/img/round.png");
        background-size: contain;
        height:150px;
        width: 150px;
    }
    
    nametag{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color:white;
        opacity: 100%;
        height:150px;
        width: 400px;
        /* position: relative; */
        left: 0px;
        border-bottom-style: solid;
        border-bottom-color: #2934A0;
        border-bottom-width: 10px;
    }
    
    photo{
        /* display: flex; */
        /* flex-direction: row; */
        background-image: url("assets/img/ProfilePhoto.jpg");
        background-size: contain;
        opacity: 100%;
        /* position: relative; */
        height:150px;
        width: 150px;
        /* right:10px; */
    }
    
    /* 
    .blank{
        height:300px;
        width:100%;
        background-color: white;
    } */
    
    .menu{
        display: flex;
        height:400px;
        /* width:90%; */
        background-color: white;
        flex-direction: row;
        justify-content:space-between;
        position:fixed;
        bottom: 50px;
        left: 10px;
        right: 10px;
    }
    
    .exercise{
        display: flex;
        background-color: #2934A0;
        height:400px;
        width: 400px;
        flex-direction: column;
    }
    
    .assignment{
        background-color: #2934A0;
        height:400px;
        width: 400px;
    }
    
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        color:#2934A0;
        position: relative;
        text-align: left;
        line-height: 25px;
    }
    
    h2{
        font-size: 20px;
        color:white;
        text-align:left;
        position: relative;
        margin-left: 30px;
    }
    
    h3{
        font-size: 20px;
        color:white;
        text-align:left;
        position: relative;
        margin-left: 30px;
    }
    
    p{
        line-height: 25px;
        margin: 5px 0px;
    }
    }